* {
    background-color: rgb(214, 214, 214);
    box-sizing: border-box;
}

button {
    background-color: rgb(179, 179, 255);
    color:black;
    font-weight: bold;
    font-size: 16px;
    padding:5px;
    border-radius: 3px;
    margin-bottom:10px;
}

.gridContainer {
    background-color: rgba(0, 100, 0, 0.416);
    height:500px;
    width:500px;
    display:flex;
    flex-wrap: wrap;
}

.grid {
    /* display:flex;
    flex: 1 0 calc(10% - 5px);
    aspect-ratio: 1 / 1; */
    border: 1px solid black;
}

/* .test {
    display:flex;
    background-color: aliceblue;
    height:125px;
    width:125px;
    border: 1px solid black;
} */